@{
    ViewData["Title"] = "Index";
}
<h1>Bienvenue sur la formulaire</h1>
<p>Cliquez sur le lien ci-dessous :</p>
<a href="https://docs.google.com/forms/d/1DI4m_vOYbBFkXx9j94wwOTbTSM9w7eJrdCYF9Ft50WY/prefill">Lien vers Example.com</a>