@model TangerEco.Models.PersonnelMinistreModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ministry" class="control-label"></label>
                <input asp-for="Ministry" class="form-control" />
                <span asp-validation-for="Ministry" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="text" Name="Password" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Role</label>
                <select name="role" asp-items="ViewBag.Roles" class="form-control"></select>
            </div>
            <br/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}